<%= form_for(@bedrom) do |f| %>
  <% if @bedrom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bedrom.errors.count, "error") %> prohibited this bedrom from being saved:</h2>

      <ul>
      <% @bedrom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :floors_id %><br>
    <%= f.text_field :floors_id %>
  </div>
  <div class="field">
    <%= f.label :floors_houses_id %><br>
    <%= f.text_field :floors_houses_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
